{% extends 'base.html' %}
{% block title %}영화 정보 작성{% endblock title %}

{% block content %}
<h1>영화 정보 작성</h1>
<br>
<form action="/movies/create/">
  <label for="title">영화명(국문)</label>
  <input id="title" type="text" name="title"><br>

  <label for="title_en">영화명(영문)</label>
  <input id="title_en" type="text" name="title_en"><br>

  <label for="audience">누적 관객수</label>
  <input id="audience" type="number" name="audience"><br>

  <label for="open_date">개봉일</label>
  <input id="open_date" type="date" name="open_date"><br>

  <label for="genre">장르</label>
  <input id="genre" type="text" name="genre"><br>

  <label for="watch_grade">관람등급</label>
  <input id="watch_grade" type="text" name="watch_grade"><br>

  <label for="score">평점</label>
  <input id="score" type="" name="score"><br>

  <label for="poster_url">포스터 URL</label>
  <input id="poster_url" type="text" name="poster_url"><br>

  <label for="description">영화 소개</label>
  <textarea id="description" name="description"></textarea>
  <button type="submit">등록하기</button>
</form>


{% endblock content %}

